<div class="carrousel">
    
    <img src="/img/ejemploBanner2.jpg" alt="Banner hero-section"/>
    <!-- <h2 class="headerQuote">"Si cuidamos la Tierra, la Tierra nos cuidará"</h2> -->
    <!-- <ul class="categories-hide">
        <li><a href="#"></a>Home</li>
        <li><a href="#"></a>Categorías</li>
        <li><a href="#"></a>Nosotros</li>
        <li><a href="#"></a>Contacto</li>
    </ul>
    <div class="carrousel-selectors">
        <i class="fas fa-chevron-left carrousel-button1"></i>
        <i class="fas fa-chevron-right carrousel-button2"></i>
    </div> -->
    
</div>