<!DOCTYPE html>
<html lang="en">
  
<%- include('../partials/head', {pageTitle: "Detalle del producto"}) %>

  <body>

    <header>
      <%- include('../partials/navBar') %>
    </header>
    
    <main>
      <section class="main-form">
        <form action="#" method="POST">
          <div class="form-header">
            <img src="img/logo-2.png" alt="logo 2" />
          </div>

          <section class="productName-field">
            <input
              type="text"
              name="productName"
              id="productName"
              placeholder="Ingresar nombre producto"
              minlength="3"
              maxlength="30"
              required
            />
            <label for="productName">Ingresar nombre producto</label>
          </section>
          <section class="productDescription-field">
            <input
              type="text"
              name="productDescription"
              id="productDescription"
              placeholder="Ingresar descripción producto"
              minlength="10"
              maxlength="50"
              required
            />
            <label for="productDescription"
              >Ingresar descripción producto</label
            >
          </section>
          <section class="productColor-field">
            <input
              type="text"
              name="productColor"
              id="productColor"
              placeholder="Ingresar color producto"
              minlength="2"
              maxlength="15"
              required
            />
            <label for="productColor">Ingresar color producto</label>
          </section>
          <section class="productPrice-field">
            <input
              type="number"
              name="productPrice"
              id="productPrice"
              placeholder="Ingresar precio producto"
              required
            />
            <label for="productPrice">Ingresar precio producto</label>
          </section>

          <section class="productCategory-field">
            <label for="productCategory"
              >Selecciona una categoría
              <select name="productCategory" id="productCategory">
                <option value="organicos">Orgánicos</option>
                <option value="flora y jardin">Flora Y Jardín</option>
                <option value="cuidado personal">Cuidado Personal</option>
                <option value="hogar">Hogar</option>
              </select></label
            >
          </section>

          <section class="uploadImage-field">
            <label for="file">Cargar imagen</label>
            <input
              type="file"
              id="file"
              name="file"
              class="uploadImage-field"
            />
          </section>

          <section class="section-buttons">
            <button type="submit">CARGAR</button>
            <button type="reset">LIMPIAR</button>
          </section>
        </form>
      </section>
    </main>

  <%- include('../partials/footer') %>

  </body>
</html>
