<!DOCTYPE html>
<html lang="en">
  
  <%- include('../partials/head', {pageTitle: 'Edicion del producto'}) %>

  <body>
    <header>

      <%- include('../partials/navBar') %>

    </header>

    <main>
      <section class="main-form">
        <form action="#" method="POST">
          <div class="form-header">
            <img src="img/logo-2.png" alt="logo 2" />
          </div>

          <section class="productId-field">
            <input
              type="number"
              name="productId"
              id="productId"
              placeholder="Ingresar ID"
              required
            />

            <label for="productId">Ingresar ID producto</label>
            <section class="section-buttons">
              <button type="submit">CONSULTAR</button>
            </section>
          </section>

          <section class="productName-field">
            <input
              type="text"
              name="productName"
              id="productName"
              placeholder="Ingresar nombre producto -Deshabilitado"
              minlength="3"
              maxlength="30"
              required
              disabled
            />
            <label for="productName">Ingresar nombre producto</label>
          </section>
          <section class="productDescription-field">
            <input
              type="text"
              name="productDescription"
              id="productDescription"
              placeholder="Ingresar descripción producto -Deshabilitado"
              minlength="10"
              maxlength="50"
              required
              disabled
            />
            <label for="productDescription"
              >Ingresar descripción producto</label
            >
          </section>
          <section class="productColor-field">
            <input
              type="text"
              name="productColor"
              id="productColor"
              placeholder="Ingresar color producto -Deshabilitado"
              minlength="2"
              maxlength="15"
              required
              disabled
            />
            <label for="productColor">Ingresar color producto</label>
          </section>
          <section class="productPrice-field">
            <input
              type="number"
              name="productPrice"
              id="productPrice"
              placeholder="Ingresar precio producto -Deshabilitado"
              required
              disabled
            />
            <label for="productPrice">Ingresar precio producto</label>
          </section>

          <section class="productCategory-field">
            <label for="productCategory"
              >Selecciona una categoría -Deshabilitado
              <select name="productCategory" id="productCategory" disabled>
                <option value="organicos">Orgánicos</option>
                <option value="flora y jardin">Flora Y Jardín</option>
                <option value="cuidado personal">Cuidado Personal</option>
                <option value="hogar">Hogar</option>
              </select></label
            >
          </section>

          <section class="uploadImage-field">
            <label for="file">Cargar imagen -Deshabilitado</label>
            <input
              type="file"
              id="file"
              name="file"
              class="uploadImage-field"
              disabled
            />
          </section>

          <section class="section-buttons">
            <button type="submit" disabled>ACTUALIZAR - DESHABILI</button>
            <button type="reset" disabled>LIMPIAR - DESHABILI</button>
          </section>
        </form>
      </section>
    </main>

    <%- include('../partials/footer') %>
  
  </body>
</html>
