<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoPlace</title>
    <meta name="author" content="Elías López
    V">
    <meta name="description" content="Los mejores productos ecológicos en un solo lugar">
    <meta name="keywords" content="Eco, orgánicos, sostenible, medioambiente, ecología">
    <!--Style Sheets-->
    <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">

    <!--normalize-->
        <link rel="stylesheet" href="/css/normalize.css">
    <!--FontAwesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!--local stylesheet-->
        <link rel="stylesheet" href="../views/styleElias.css">

</head>
<body>
    <header>
        <!--Nav bar-->
        <div class="nav-bar-main">
            <nav>
                <div class="search-bar">
                    <form  action="../../form-result.php" method="post" target="_blank">

                        <input type="search" name="busquedam" placeholder="Buscar en EcoPlace">
                        
                        <button> <i class="fas fa-search"></i></button>
                        
                    </form>
                </div>  
                <div class="nav-bar-second">
                    <!--botón menú para celulares-->
                    <a href="#" class="hamburger-button">
                        <i class="fas fa-bars "></i>
                        </a> 
                    <h2 class="title"><i class="fas fa-leaf"></i>EcoPlace</h2>
                    <ul class="nav-block">
                        <div class="hide-login">
                            <li><a href="#">Iniciar Sesión</a></li>
                            <li><a href="#">Registrarse</a></li>
                        </div>
                            <li><a href="#"><i class="fas fa-shopping-basket"></i></a>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="carrousel">
            <ul>
                <li><a href="#"></a>Home</li>
                <li><a href="#"></a>Categorías</li>
                <li><a href="#"></a>Nosotros</li>
                <li><a href="#"></a>Contacto</li>
            </ul>
            <button><i class="fas fa-chevron-left"></i></button>
            <button><i class="fas fa-chevron-right"></i></button>
        </div>
    </header>

    <main>
        <section>
            <article>
                <h3>Primera Categoría</h3>
            </article>
            <article>
                <img src="" alt="">
                <h4>Título producto</h4>
                <p></p>

            </article>
            <article>
                <img src="" alt="">
                <h4>Título producto</h4>
                <p></p>

            </article>
            <article>
                <img src="" alt="">
                <h4>Título producto</h4>
                <p></p>

            </article>

        </section>
            <article>
                <h3>Segunda Categoría</h3>
            </article>
            <article>
                <img src="" alt="">
                <h4>Título producto</h4>
                <p></p>

            </article>
            <article>
                <img src="" alt="">
                <h4>Título producto</h4>
                <p></p>

            </article>
            <article>
                <img src="" alt="">
                <h4>Título producto</h4>
                <p></p>

            </article>

        <section>
            <article>
                <h3>Tercera Categoría</h3>
            </article>
            <article>
                <img src="" alt="">
                <h4>Título producto</h4>
                <p></p>

            </article>
            <article>
                <img src="" alt="">
                <h4>Título producto</h4>
                <p></p>

            </article>
            <article>
                <img src="" alt="">
                <h4>Título producto</h4>
                <p></p>

            </article>
            
        </section>

        <section>
            <article>
                <h3>Cuarta Categoría</h3>
            </article>
            <article>
                <img src="" alt="">
                <h4>Título producto</h4>
                <p></p>

            </article>
            <article>
                <img src="" alt="">
                <h4>Título producto</h4>
                <p></p>

            </article>
            <article>
                <img src="" alt="">
                <h4>Título producto</h4>
                <p></p>

            </article>
            
        </section>
        <!--Banner antes del footer con infografía-->
        <section>
            <h3>En EcoPlace encontrarás productos ecológicos y sustentables</h3>

            <i class="fab fa-pagelines"></i>
            <i class="fas fa-recycle"></i>
            <i class="fas fa-hand-holding-heart"></i>
            <i class="fas fa-globe-americas"></i>       
            <i class="fas fa-hand-holding-water"></i>

            <img src="" alt="">

        </section>

    </main>

    <footer>
        <h3>¿Quiénes somos?</h3>
        <ul>
            <li><a href="#"></a>Home</li>
            <li><a href="#"></a>Categorías</li>
            <li><a href="#"></a>Nosotros</li>
            <li><a href="#"></a>Contacto</li>
        </ul>

        <h4>Recibe nuestras ofertas EcoPlace</h4>
        <form action="">
            <!--Formulario de suscripción-->

        </form>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-whatsapp"></i>

    </footer>
  
</body>
</html>