<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoPlace</title>
    <meta name="author" content="Elías López
    V">
    <meta name="description" content="Los mejores productos ecológicos en un solo lugar">
    <meta name="keywords" content="Eco, orgánicos, sostenible, medioambiente, ecología">
    <!--Style Sheets-->
    <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">

    <!--normalize-->
        <link rel="stylesheet" href="/css/normalize.css">
    <!--FontAwesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!--local stylesheet-->
        <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    <header>
        <!--Nav bar-->
        <div class="nav-bar-main">
            <nav class="nav-var-box">
                <div class="search-bar">
                    <form  action="/busqueda" method="GET" target="_blank">
                        <div class="search-style">
                        <input type="search" name="busquedam" placeholder="Buscar en EcoPlace">
                        
                        <button> <i class="fas fa-search"></i></button>
                        </div>      
                    </form>
                </div> 
                    
                    <!--botón menú para celulares-->
                    <a href="#" class="hamburger-button-elias">
                        <i class="fas fa-bars "></i>
                        </a> 
                    <h2 class="title"><i class="fas fa-leaf"></i>EcoPlace</h2>
                    <ul class="nav-block">
                            <li class="hide-login"><a href="/sign_in">Iniciar Sesión</a></li>
                            <li class="hide-login"><a href="/sign_up">Registrarse</a></li>
                            <li><a href="/carrito"><i class="fas fa-shopping-basket"></i></a>
                    </ul>
            </nav>
        </div>  
        <div class="carrousel">
            
            <img src="/img/ejemploBanner2.jpg" alt="Banner hero-section">
            <ul class="categories-hide">
                <li><a href="#"></a>Home</li>
                <li><a href="#"></a>Categorías</li>
                <li><a href="#"></a>Nosotros</li>
                <li><a href="#"></a>Contacto</li>
            </ul>
            <div class="carrousel-selectors">
                <i class="fas fa-chevron-left carrousel-button1"></i>
                <i class="fas fa-chevron-right carrousel-button2"></i>
            </div>
            
        </div>
    </header>

    <main>
        <section class="category-box">
            <div class="category-main">
                <article class="category-main-title">
                    <h3>Orgánicos</h3>
                    <img src="/img/categoria-comida.jpg" alt="comida organica">
                </article>
                <div class="carrousel-products">
                    <i class="fas fa-chevron-left carrousel-product-button1"></i>
              
                    <article class="product-box">
                        <a href="/product_detail"><img src="/img/organicoQuinoa.jpeg" alt="QUINOA"></a>
                        <div class="product-name-box">
                            <p class="price">$300</p>
                            <h3 class="product-name">Quinoa</h3>

                        </div>
                    </article>
                
                    
                    <article class="product-box">
                        <a href="/product_detail"><img src="/img/organicoHummus.jpeg" alt="hummus"></a>
                            <div class="product-name-box">
                                <p class="price">$400</p>
                                <h3 class="product-name">Hummus</h3>
    
                            </div>
    
                        </article>
                        <article class="product-box">
                            <a href="/product_detail"><img src="/img/organicoBombones.jpg" alt="bombones organicos"></a>
                                <div class="product-name-box">
                                    <p class="price">$350</p>
                                    <h3 class="product-name">Bombones orgánicos</h3>
        
                                </div>
        
                            </article>
                            <i class="fas fa-chevron-right carrousel-product-button2"></i>
                </div>
            </div>

            <div class="category-main">
                <article class="category-main-title">
                    <h3>Flora y Jardín</h3>
                    <img src="/img/categoria-jardin.jpg" alt="avatar jardin">
                </article>
                <div class="carrousel-products">
                    <i class="fas fa-chevron-left carrousel-product-button1"></i>
                    <article class="product-box">
                        <a href="/product_detail"><img src="/img/jardinBalcon.JPG" alt="jardin de balcon"></a>
                        <div class="product-name-box">
                            <p class="price">$600</p>
                            <h3 class="product-name">Jardín de balcón</h3>

                        </div>

                    </article>
                    <article class="product-box">
                        <a href="/product_detail"><img src="/img/jardinKitchenGarden.JPG" alt="Jardín de cocina"></a>
                            <div class="product-name-box">
                                <p class="price">$700</p>
                                <h3 class="product-name">Jardín de cocina</h3>
    
                            </div>
    
                        </article>
                        <article class="product-box">
                            <a href="/product_detail"><img src="/img/jardinpimenton.JPG" alt="pimentones"></a>
                                <div class="product-name-box">
                                    <p class="price">$100</p>
                                    <h3 class="product-name">Pimentones orgánicos</h3>
        
                                </div>
        
                            </article>
                            <i class="fas fa-chevron-right carrousel-product-button2"></i>

                </div>
            </div>
            <div class="category-main">
                <article class="category-main-title">
                    <h3>Cuidado personal</h3>
                    <img src="/img/CuidadoCategoria.jpg" alt="avatar cuidado personal">
                </article>
                <div class="carrousel-products">
                    <i class="fas fa-chevron-left carrousel-product-button1"></i>
                    <article class="product-box">
                        <a href="/product_detail"><img src="/img/CuidadoJabon.jpg" alt="jabon ecologico"></a>
                        <div class="product-name-box">
                            <p class="price">150</p>
                            <h3 class="product-name">Jabón no contaminante</h3>

                        </div>

                    </article>
                    <article class="product-box">
                        <a href="/product_detail"><img src="/img/cuidadoCepillo.JPG" alt="cepillo ecologico"></a>
                            <div class="product-name-box">
                                <p class="price">$170</p>
                                <h3 class="product-name">Cepillo ecologico</h3>
    
                            </div>
    
                        </article>
                    <article class="product-box">
                        <a href="/product_detail"><img src="/img/cuidadoSET.jpg" alt="set cuidado"></a>
                            <div class="product-name-box">
                                <p class="price">$1100</p>
                                <h3 class="product-name">SET cuidado personal</h3>
    
                            </div>
    
                        </article>
                
                            <i class="fas fa-chevron-right carrousel-product-button2"></i>

                </div>
            </div>
            <div class="category-main">
                <article class="category-main-title">
                    <h3>Hogar</h3>
                    <img src="/img/Categoria-hogar.JPG" alt="avatar hogar">
                </article>
                <div class="carrousel-products">
                    <i class="fas fa-chevron-left carrousel-product-button1"></i>
                    <article class="product-box">
                        <a href="/product_detail"><img src="/img/hogarSillon.jpeg" alt="Sillón ecologico"></a>
                        <div class="product-name-box">
                            <p class="price">$1500</p>
                            <h3 class="product-name">Sillón ecológico</h3>

                        </div>

                    </article>
                    <article class="product-box">
                        <a href="/product_detail"><img src="/img/hogarCubiertos.jpg" alt="cubiertos eco"></a>
                            <div class="product-name-box">
                                <p class="price">$110</p>
                                <h3 class="product-name">Cubiertos eco-friendly</h3>
    
                            </div>
    
                        </article>
                    <article class="product-box">
                        <a href="/product_detail"><img src="/img/hogarLampara.jpg" alt="lampara eco"></a>
                            <div class="product-name-box">
                                <p class="price">$300</p>
                                <h3 class="product-name">Lámpara ecológica</h3>
    
                            </div>
    
                        </article>
                       
                            <i class="fas fa-chevron-right carrousel-product-button2"></i>

                </div>
            </div>
            
            
        </section>
        <!--Banner antes del footer con infografía-->
        <section class="banner-footer">
            <div class="banner-left-box">
                <h3>En EcoPlace encontrarás productos ecológicos y sustentables</h3>
                <div>
                <i class="fab fa-pagelines banner-icon"></i>
                <i class="fas fa-recycle banner-icon"></i>
                <i class="fas fa-hand-holding-heart banner-icon"></i>
                <i class="fas fa-globe-americas banner-icon"></i>       
                <i class="fas fa-hand-holding-water banner-icon"></i>
                </div>
            </div>
            <img src="/img/foto-banner-envios.jpg" alt="envios eco">

        </section>

    </main>

    <footer class="footer-style-main">
        <h3>¿Quiénes somos?</h3>
        <ul>
            <li><a href="#"></a>Home</li>
            <li><a href="#"></a>Categorías</li>
            <li><a href="#"></a>Nosotros</li>
            <li><a href="#"></a>Contacto</li>
        </ul>
        <div>
        <h4>Recibe nuestras ofertas EcoPlace</h4>
        <form action="">
            <!--Formulario de suscripción-->

        </form>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-whatsapp"></i>
        </div>

    </footer>
  
</body>
</html>