<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./css/style.css" />
    <title>Sign_up</title>
  </head>
  <body>
    <main>
      <section class="main-form">
        <form action="#" method="POST">
          <div class="form-header">
            <img src="img/logo-2.png" alt="logo 2" />
          </div>

          <section class="user-field">
            <input
              type="text"
              name="sign-up-user"
              id="user"
              placeholder="Ingresar usuario"
              minlength="5"
              maxlength="20"
              required
            />
            <label for="user">Ingresar usuario</label>
          </section>
          <section class="email-field">
            <input
              type="email"
              name="sign-up-email"
              id="email"
              placeholder="Ingresar email"
              required
            />
            <label for="email">Ingresar email</label>
          </section>
          <section class="password-field">
            <input
              type="password"
              name="sign-up-password"
              id="password"
              placeholder="Ingresar contraseña"
              minlength="10"
              maxlength="30"
              required
            />
            <label for="password">Ingresar contraseña</label>
          </section>

          <section class="password-field">
            <input
              type="password"
              name="confirm-sign-up-password"
              id="confirm-password"
              placeholder="Confirmar contraseña"
              minlength="10"
              maxlength="30"
              required
            />
            <label for="password">Confirmar contraseña</label>
          </section>

          <section class="button-submit">
            <button type="submit">REGISTRATE</button>
          </section>

          <section class="social-media-field">
            <label>Registrate usando</label>
            <div class="social-media">
              <div class="social-media-icon">
                <a href="#">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </div>
              <div class="social-media-icon">
                <a href="#">
                  <i class="fab fa-instagram-square"></i>
                </a>
              </div>
              <div class="social-media-icon">
                <a href="#">
                  <i class="fab fa-google-plus-square"></i>
                </a>
              </div>
            </div>
          </section>

          <section class="sign-up-field">
            <span
              >Ingresa presionando
              <a class="sign-in-link" href="/sign_in">Ingresar</a></span
            >
          </section>
        </form>
      </section>
    </main>
  </body>
</html>
