/*
media: 576, 768, 992, 1200
*/

//COLORS
$color-primary: rgb(75, 191, 90);
$color-secondary: #804000;
$color-terciary: #7fa84d;
$color-cuaternary: #ebf1e4;
$color-white: #ffffff;
$color-black: #000000;
