.nav-bar-main {
  background-color: $color-cuaternary;
  width: 100%;

  nav ul {
    list-style: none;
    text-decoration: none;
    color: $color-terciary;

    li a {
      color: $color-terciary;
    }
  }
}

.nav-var-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-bar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 24px;
}

.hamburger-button-elias {
  color: $color-terciary;
}
.nav-block {
  display: flex;
  flex-wrap: row nowrap;
}

.title {
  color: $color-primary;
  font-family: "Shadows Into Light", cursive;
  margin-top: 5px;
  margin-bottom: 5px;
}
.hide-login {
  margin: 0 10px;
  display: none;
}



@media (min-width: 361px){
  
  .hamburger-button-elias {
    display: none;
  }

  .nav-bar-main {
    padding: 20px;
  }

  .nav-bar-box {
    display: flex;
    flex-flow: row nowrap;
  }

  .nav-var-box > * {
    width: 30%;
  }

  .nav-block {
    justify-content: flex-end;
  }
  .contenedor-logo {
    text-align: center;
    font-size: 20px;
  }

  .contenedor-logo a {
    text-decoration: none;
  }

  .search-bar {
    width: 30%;
    justify-content: flex-start;
  }

  .hide-login {
    display: flex;
  }
}