<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./css/style.css" />
    <title>productEdit</title>
  </head>
  <body>
    <header>
      <!--Nav bar-->
      <div class="nav-bar-main">
        <nav class="nav-var-box">
          <div class="search-bar">
            <form action="/busqueda" method="PATCH" target="_blank">
              <div class="search-style">
                <input
                  type="search"
                  name="busquedam"
                  placeholder="Buscar en EcoPlace"
                />

                <button><i class="fas fa-search"></i></button>
              </div>
            </form>
          </div>

          <!--botón menú para celulares-->

          <a href="#" class="hamburger-button-elias">
            <i class="fas fa-bars"></i>
          </a>
          <div class="contenedor-logo">
            <a href="/"
              ><h2 class="title"><i class="fas fa-leaf"></i>EcoPlace</h2></a
            >
          </div>

          <ul class="nav-block">
            <li class="hide-login"><a href="/sign_in">Iniciar Sesión</a></li>
            <li class="hide-login"><a href="/sign_up">Registrarse</a></li>
            <li>
              <a href="/carrito"><i class="fas fa-shopping-basket"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="main-form">
        <form action="#" method="POST">
          <div class="form-header">
            <img src="img/logo-2.png" alt="logo 2" />
          </div>

          <section class="productId-field">
            <input
              type="number"
              name="productId"
              id="productId"
              placeholder="Ingresar ID"
              required
            />

            <label for="productId">Ingresar ID producto</label>
            <section class="section-buttons">
              <button type="submit">CONSULTAR</button>
            </section>
          </section>

          <section class="productName-field">
            <input
              type="text"
              name="productName"
              id="productName"
              placeholder="Ingresar nombre producto -Deshabilitado"
              minlength="3"
              maxlength="30"
              required
              disabled
            />
            <label for="productName">Ingresar nombre producto</label>
          </section>
          <section class="productDescription-field">
            <input
              type="text"
              name="productDescription"
              id="productDescription"
              placeholder="Ingresar descripción producto -Deshabilitado"
              minlength="10"
              maxlength="50"
              required
              disabled
            />
            <label for="productDescription"
              >Ingresar descripción producto</label
            >
          </section>
          <section class="productColor-field">
            <input
              type="text"
              name="productColor"
              id="productColor"
              placeholder="Ingresar color producto -Deshabilitado"
              minlength="2"
              maxlength="15"
              required
              disabled
            />
            <label for="productColor">Ingresar color producto</label>
          </section>
          <section class="productPrice-field">
            <input
              type="number"
              name="productPrice"
              id="productPrice"
              placeholder="Ingresar precio producto -Deshabilitado"
              required
              disabled
            />
            <label for="productPrice">Ingresar precio producto</label>
          </section>

          <section class="productCategory-field">
            <label for="productCategory"
              >Selecciona una categoría -Deshabilitado
              <select name="productCategory" id="productCategory" disabled>
                <option value="organicos">Orgánicos</option>
                <option value="flora y jardin">Flora Y Jardín</option>
                <option value="cuidado personal">Cuidado Personal</option>
                <option value="hogar">Hogar</option>
              </select></label
            >
          </section>

          <section class="uploadImage-field">
            <label for="file">Cargar imagen -Deshabilitado</label>
            <input
              type="file"
              id="file"
              name="file"
              class="uploadImage-field"
              disabled
            />
          </section>

          <section class="section-buttons">
            <button type="submit" disabled>ACTUALIZAR - DESHABILI</button>
            <button type="reset" disabled>LIMPIAR - DESHABILI</button>
          </section>
        </form>
      </section>
    </main>
    <footer class="footer-style-main">
      <h3>¿Quiénes somos?</h3>
      <ul>
        <li><a href="#"></a>Home</li>
        <li><a href="#"></a>Categorías</li>
        <li><a href="#"></a>Nosotros</li>
        <li><a href="#"></a>Contacto</li>
      </ul>
      <div>
        <h4>Recibe nuestras ofertas EcoPlace</h4>
        <form action="">
          <!--Formulario de suscripción-->
        </form>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-whatsapp"></i>
      </div>
    </footer>
  </body>
</html>
