.big-container {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 85%;
    margin: auto;
    padding: 15px 0;
  }
  
  .title-cart {
    color: rgb(75, 191, 90);
    font-weight: 200;
    font-size: 5rem;
    width: 90%;
    margin: auto;
    padding-bottom: 1.3rem;
  }
  
  .title-shipping {
    justify-content: left;
    color: rgb(75, 191, 90);
    font-weight: 200;
    font-size: 3rem;
    margin-top: 0;
  }
  
  .cart-page {
    margin: auto;
  }
  
  table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  p {
    margin: 0;
  }
  
  .detail-box {
    margin: 1.2rem;
  }
  
  th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: rgb(75, 191, 90);
    font-weight: normal;
    font-size: 20px;
  }
  
  td {
    padding: 10px 5px;
    font-size: 20px;
  }
  
  td input {
    width: 40px;
    height: 30px;
    padding: 5px;
  }
  
  td select {
    width: 40px;
    height: 30px;
    padding: 5px;
  }
  
  td button {
    color: #804000;
    font-size: 18px;
    border: none;
    background-color: transparent;
  }
  
  td img {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  
  .total-price {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
  }
  
  .total-price table {
    border-top: 3px solid rgb(75, 191, 90);
    width: 90%;
    margin: auto;
  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }
  
  .bordertop-shipping1, .bordertop-shipping2 {
    border-top: 3px solid rgb(75, 191, 90);
    width: 90%;
    margin: 15px auto;
  }
  
  .shipping1,
  .shipping2 {
    font-size: 20px;
    margin: 10px;
  }
  
  .shipping1 input {
    width: 250px;
    height: 25px;
  }
  
  .shipping1 button {
    height: 25px;
  }
  
  .shipping2 input {
    width: 20px;
    height: 17px;
  }