<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {pageTitle: "Detalle del producto"}) %>

  <body>
    <header><%- include('../partials/navBar') %></header>

    <main>
      <section class="main-form">
        <form action="/products" method="POST" enctype="multipart/form-data">
          <div class="form-header">
            <img src="/img/logo-2.png" alt="logo 2" />
          </div>

          <section class="productName-field">
            <input
              type="text"
              name="name"
              id="productName"
              placeholder="Ingresar nombre producto"
              minlength="3"
              maxlength="30"
              required
            />
            <label for="productName">Ingresar nombre producto</label>
          </section>

          <section class="productColor-field">
            <input
              type="text"
              name="color"
              id="productColor"
              placeholder="Ingresar color producto"
              minlength="2"
              maxlength="15"
              required
            />
            <label for="productColor">Ingresar color producto</label>
          </section>
          <section class="productPrice-field">
            <input
              type="number"
              name="price"
              id="productPrice"
              placeholder="Ingresar precio producto"
              required
            />
            <label for="productPrice">Ingresar precio producto</label>
          </section>

          <section class="productCategory-field">
            <label for="productCategory"
              >Selecciona una categoría
              <select name="category" id="productCategory">
                <option value="organicos">Orgánicos</option>
                <option value="flora y jardin">Flora Y Jardín</option>
                <option value="cuidado personal">Cuidado Personal</option>
                <option value="hogar">Hogar</option>
              </select></label
            >
          </section>

          <section class="uploadImage-field">
            <label for="file">Cargar imagen</label>
            <input
              type="file"
              id="file"
              name="image"
              class="uploadImage-field"
            />
          </section>

          <section class="productDescription-field">
            <textarea
              type="text"
              name="description"
              id="productDescription"
              placeholder="Ingresar descripción producto"
              required
            ></textarea>
            <label for="productDescription"
              >Ingresar descripción producto</label
            >
          </section>

          <section class="productDescription-field">
            <textarea
              type="text"
              name="technical_description"
              id="productTechnicalDescription"
              placeholder="Ingresar descripción producto"
              required
            ></textarea>
            <label for="productTechnicalDescription"
              >Ingresar descripción técnica del producto</label
            >
          </section>

          <section class="productDescription-field">
            <textarea
              type="text"
              name="other_specifications"
              id="productOthersDescription"
              placeholder="Ingresar descripción producto"
              required
            ></textarea>
            <label for="productOthersDescription"
              >Ingresar otras descripciones del producto</label
            >
          </section>

          <section class="section-buttons">
            <button type="submit">CARGAR</button>
            <button type="reset">LIMPIAR</button>
          </section>
        </form>
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
