<!DOCTYPE html>
<html lang="en">
  
<%- include('../partials/head', {pageTitle: 'Carrito'}) %>

  <body>
    <header>

      <%- include('../partials/navBar') %>

    </header>

    <div class="big-container">
      <div class="small-container cart-page">
        <h1 class="title-cart">CARRITO</h1>

        <table>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
          <tr>
            <td>
              <div class="cart-info">
                <img src="/img/categoria-comida.jpg" />
                <div class="detail-box">
                  <p>Comida</p>
                  <small>Precio: $5000</small><br />
                  <button type="button">Borrar</button>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" /></td>
            <td>$5000</td>
          </tr>
          <tr>
            <td>
              <div class="cart-info">
                <img src="/img/categoria-jardin.jpg" />
                <div class="detail-box">
                  <p>Comida</p>
                  <small>Precio: $1000</small><br />
                  <button type="button">Borrar</button>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" /></td>
            <td>$5000</td>
          </tr>
          <tr>
            <td>
              <div class="cart-info">
                <img src="/img/categoria-hogar.jpg" />
                <div class="detail-box">
                  <p>Comida</p>
                  <small>Precio: $21000</small><br />
                  <button type="button">Borrar</button>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" name="cantidad" /></td>
            <td>$5000</td>
          </tr>
        </table>

        <div class="bordertop-shipping1">
          <h2 class="title-shipping">ENVIO</h2>

          <div class="shipping1">
            <form action="/" method="get">
              <label>Ingrese su pais</label><br />
              <select name="pais" class="country">
                <option value="Pais">Pais...</option>
                <option value="Argentina">Argentina</option>
                <option value="Chile">Chile</option>
                <option value="Colombia">Colombia</option></select
              ><br /><br />
              <label>Ingrese su direccion</label><br />
              <input
                type="text"
                name="direccion"
                placeholder="Ej: Av. San Martin 2340"
              />
            </form>
          </div>
        </div>

        <div class="total-price">
          <table>
            <tr>
              <td>Subtotal</td>
              <td>$2000</td>
            </tr>

            <tr>
              <td>Impuestos</td>
              <td>$500</td>
            </tr>

            <tr>
              <td>Total</td>
              <td>$2500</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <%- include('../partials/footer') %>
    
  </body>
</html>
